on: 
  workflow_dispatch:
jobs:
  api_test:
    runs-on: ubuntu-latest
    steps:
      - name: repo list
        run: |
          curl -L -H "Accept: application/vnd.github+json" -H "Authorization: Bearer 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" -H "X-GitHub-Api-Version: 2022-11-28" https://api.github.com/orgs/Ayyappan-STC/repos?per_page=500 | jq '.[]| .owner' | tr -d '"'
          
