on: 
  workflow_dispatch:
jobs:
  api_test:
    runs-on: ubuntu-latest
    steps:
      - name: repo list
        env:
         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
         super_secret: ${{ secrets.TOKEN }}
        run: |
          echo ${{ secrets.demo }}
          #curl -L -X POST -H "Accept: application/vnd.github+json" -H "Authorization: Bearer  {{ secrets.demo }}" -H "X-GitHub-Api-Version: 2022-11-28" https://api.github.com/repos/Ayyappan-STC/demo/releases -d '{"tag_name":"sprint_date","target_commitish":"main","name":"sprint_date","body":"body","draft":false,"prerelease":false,"generate_release_notes":false}'
          curl -L -X POST -H "Accept: application/vnd.github+json" -H "Authorization: Bearer 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" -H "X-GitHub-Api-Version: 2022-11-28" https://api.github.com/repos/Ayyappan-STC/demo/releases -d '{"tag_name":"sprint_date","target_commitish":"main","name":"sprint_date","body":"body","draft":false,"prerelease":false,"generate_release_notes":false}'
          
